.q1
{
	background-image: url(backgroundimage.jpg);
	background-position: center;
	background-size: cover;
}


.q2
{
	background-image: url(backgroundimage2.jpg);
	background-position: center;
	background-size: cover;
}

.q3
{
	background-image: url(backgroundimage3.jpg);
	background-position: center;
	background-size: cover;
}

.q4
{
	background-image: url(backgroundimage4.jpg);
	background-position: center;
	background-size: cover;
}

.q5
{
	background-image: url(backgroundimage5.jpg);
	background-position: center;
	background-size: cover;
}


h1
{
	text-align: center;
	color: blueviolet;
	margin-top: 100px;
	font-family: Impact, fantasy;
	font-size: 80px;


}

.question1, .question2, .question3, .question4, .question5
{
	text-align: center;
	font-family: Impact, fantasy;
	font-size: 80px;
	padding:  100px;
}

.question{
 	font-size: 20px;   
}

.radio
{
	font-size: 20px;
}

button
{
	display: flex;
	margin: auto;
	margin-top: -450px;
}



